<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaler7.mapper.BlogArticleMapper">
	
	<select id="selectCountGroupByCategory" resultType="com.scaler7.vo.BlogArticleVO">
		SELECT category_id,COUNT(*) AS articleCount FROM blog_article GROUP BY category_id
	</select>
	
	<update id="increCommentCount">
		UPDATE blog_article SET comment_count = comment_count+1 WHERE article_id = #{articleId};
	</update>
	
	<update id="increPageView">
		UPDATE blog_article SET page_view = page_view+1 WHERE article_id = #{articleId};
	</update>
	
	<update id="increLikeCount">
		UPDATE blog_article SET like_count = like_count+1 WHERE article_id = #{articleId};
	</update>
	
</mapper>
