<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/resources/css/common.css" rel="stylesheet" />
</head>
<body>
	<header>
        <nav>
            <div class="logo">
              <a target='_blank' href="/article/init">
                    <img src="/resources/images/logo.png" oncontextmenu="return false;" ondragstart="return false;" />
                </a>
            </div>
            <!-- 汉堡菜单 -->
          <input type="checkbox" id="togglebox" />
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/article/init">学无止境</a></li>
                <li><a href="Archive.html">文章归档</a></li>
                <li><a href="Moments.html">瞬时说说</a></li>
                <li><a href="Resources.html">资源分享</a></li>
                <li><a href="About.html">关于本站</a></li>
            </ul>
          <label class="menu" for="togglebox">
                <i class="layui-icon layui-extend-hamburg-menu"></i>
            </label>
        </nav>
        <div class="clearfix"></div>
    </header>
</body>
</html>