<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
       <div class="livechat-girl animated" th:fragment="side">
         <img class="girl" src="/resources/images/a.png" oncontextmenu="return false;" ondragstart="return false;">
           <div class="livechat-hint rd-notice-tooltip rd-notice-type-success rd-notice-position-left single-line show_hint">
               <div class="rd-notice-content">嘿，来试试登录吧！</div>
           </div>
           <div class="animated-circles">
               <div class="circle c-1"></div>
               <div class="circle c-2"></div>
               <div class="circle c-3"></div>
           </div>
       </div>
</body>
</html>